{
    "extends": [
        "airbnb"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "comma-dangle": "warn",
        "no-shadow": "warn",
        "linebreak-style": "warn",
        "max-len": "off",
        "no-extra-boolean-cast": "off",
        "prefer-destructuring": "warn",
        "react/forbid-prop-types": 0,
        "react/require-default-props": 1,
        "react/jsx-filename-extension": 0,
        "jsx-a11y/href-no-hash": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "import/prefer-default-export": 0,
        "object-curly-newline": [
            "error",
            {
                "multiline": true
            }
        ]
    },
    "parser": "babel-eslint"
}